name: Pull-request CI

on: pull_request

env:
  PINECONE_REGION: internal-beta
  PINECONE_API_KEY: ${{ secrets.PINECONE_API_KEY_BETA }}

jobs:
  rust-tests:
    name: Rust linter and tests
    runs-on: ubuntu-latest
    steps:
      # TODO: make common install steps a separate action
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Install Build Dependencies
        run: sudo apt-get -y update && sudo apt-get -y install pkg-config libssl-dev clang
      - name: Install protoc
        run: sudo apt install -y protobuf-compiler libprotobuf-dev
      - name: Run rustfmt check
        run: cargo fmt -p pinecone -p client_sdk -- --check
      - name: Run clippy
        run: cargo clippy -p pinecone -p client_sdk --tests --benches --examples --bins -- -D warnings
      - name: Run cargo tests
        if: false # TODO: Fix tests
        run: cargo test -p pinecone -p client_sdk

  python-tests:
    name: Integration Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: 'pypy3.9'
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Install Build Dependencies
        run: sudo apt-get -y update && sudo apt-get -y install pkg-config libssl-dev clang
      - name: Install protoc
        run: sudo apt install -y protobuf-compiler libprotobuf-dev
      - name: Run integration tests
        run:
          make integration-test
      - name: Upload HTML report as artifact
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: pytest-report
          path: tests/unit/report.html
